html {
  .el-table {
    color: rgba(255,255,255,.4);
    background: rgba(0,0,0,0);
  
    &.el-table--border::after, &.el-table--group::after, &.el-table::before {
      background: rgba(0,0,0,0);
    }
  
    &.el-table--enable-row-hover .el-table__body tr:hover > td, .el-table__body tr.hover-row  td {
      background-color: #222222;
    }
  
    th {
      color: white;
    }
  
    th,tr {
      // background-color: rgba(0,0,0,0);
      background-color: #2A2A2B;
  
      &.is-leaf {
        background: #2A2A2B;
      }
    }
    td,th.is-leaf {
      border-bottom: 1px solid #3F3F40;
    }
  
    .el-table__fixed-right::before, .el-table__fixed::before {
      height: 0px;
    }
  
    .cell {
      word-break: inherit;
    }
  }

  .el-pagination {
    color: #AFACAC;
  
    &.is-background .btn-next.disabled, &.is-background .btn-next:disabled, &.is-background .btn-prev.disabled, &.is-background .btn-prev:disabled, &.is-background .el-pager li.disabled {
      opacity: .6;
    }
  
    &.is-background .btn-next, &.is-background .btn-prev, &.is-background .el-pager li {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .btn-next,.btn-prev {
      background-color: rgba(0, 0, 0, 0);
    }
  
    &.is-background .btn-next, &.is-background .btn-prev, &.is-background .el-pager li {
      color: #AFACAC;
    }
  
    button,li {
      border: 1px solid #AFACAC;
    }
  
    .el-pager li.active+li {
      border-left: 1px solid #AFACAC;
    }
  
    &.is-background .el-pager li:not(.disabled).active {
      background-color: #CDDC39;
      color: #2A2A2B;
      border: 0;
    }
  
    &.is-background .el-pager li:not(.disabled):hover {
      background-color: #CDDC39;
      color: #2A2A2B;
      border: 0;
    }
    button:hover {
      background-color: #CDDC39 !important;
      color: #2A2A2B;
    }
  }

  .el-loading-mask {
    background: rgba(0,0,0,0.1);
  }

  // .el-loading-spinner {
  //   background: url("/static/loading1.gif") no-repeat 50%;
  //   background-size: 48px 48px;
  //   height: 40px;
  //   .circular {
  //     display: none;
  //   }
  // }
}
