@import './reset.scss';
@import './global.scss';
@import './atom.scss';
@import './ele-style.scss';

// color
.white {
  color: white;
}

.fontImportant {
  color: $fontImportant;
}

.fontImportantThree {
  color: $fontImportantThree;
}

.tb-link {
  cursor: pointer;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

  &:active {
    opacity: 0.7;
  }
}

.click-link {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}

.link-fontImportant {
  cursor: pointer;

  &:hover {
    color: $fontImportant;
  }

  &:active {
    opacity: 0.7;
  }
}

.no-user-select {
  user-select: none;
}

// flex
.flex {
  display: flex;
}